# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDE files
.vscode/
.idea/

# Data and Results (Uncomment to exclude from Git, but usually we want to keep them if small)
# data/processed/
# results/
